body {
  background-color: #111111;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}

button {
  background: #111111;
  color: white;
  border-color: white;
  margin: 1em;
}
button:hover {
  background: white;
  color: #111111;
  text-shadow: 0 0 4px #ffffff;
}

.glow {
    box-shadow: 0 0 4px 0.1em #ffffff;
}

#hangman-title {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 4em;
  margin: 0.5em 0 0.5em;
  text-shadow: 0 0 4px #ffffff;
}

#main-container {
  border: 3px solid white;
  border-radius: 10px;
  width: 60%;
}

#guess-word {
  letter-spacing: 0.5em;
}

#player-input {
  background: #111111;
  color: white;
}
#player-input::placeholder {
  color: white;
  text-shadow:  0 0 0.25em #ffffff;
}

#stats {
  border: 3px solid white;
  border-radius: 10px;
  margin: 0em 4em 1em 4em;
  padding: 1em 0em 1em;
  text-shadow: 0 0 0.25em #ffffff;
}

#win-block {
  color: #29c124;
  border: 3px solid white;
  border-radius: 10px;
  width: 60%;
  text-shadow: 0 0 4px #29c124;
}

#lose-block {
  color: #f04141;
  border: 3px solid white;
  border-radius: 10px;
  width: 60%;
  text-shadow: 0 0 4px #f04141;
}
